<h1> Background Check </h1>

<h2> Please read the following, input the required information, and submit </h2>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar fermentum nibh, nec blandit augue commodo et. Ut ultricies est a imperdiet tempus. Nunc eget felis vel dui varius dignissim. Proin tristique ipsum at felis sollicitudin hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id risus egestas, viverra enim ac, ultricies nisi. Pellentesque tristique fringilla metus eget bibendum. Aliquam convallis eros nec urna iaculis, eget gravida diam tincidunt. Nunc elementum vestibulum pellentesque. Duis vitae justo ac elit dapibus vehicula at eleifend augue. Vivamus sagittis eros sed nisi commodo, a sagittis metus tristique. Nulla et sodales massa. In hac habitasse platea dictumst. Praesent magna erat, accumsan vel gravida in, sagittis sit amet nunc. Praesent mi ante, congue sit amet sem in, placerat dictum nulla.</p>

<p> Nunc ipsum magna, pharetra quis porttitor sit amet, placerat sit amet est. Sed venenatis, felis non mollis vehicula, diam enim congue justo, ac pharetra nunc ex non nisl. Mauris eget turpis id ligula tempor ullamcorper. Aenean non risus finibus metus pretium ultrices in a libero. Integer non auctor justo. Donec porttitor sapien a turpis gravida porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nulla quam, posuere vitae semper eu, aliquet sit amet justo. Mauris a congue sem, vitae sollicitudin nunc. Quisque auctor rutrum ligula ut aliquet. <p>

<form method="post" id="user-info">
<legend> Please complete the following </legend>
<fieldset>
	<label for="signature"> Signature: </label>
	<input type="text" name="signature" id="signature">
	<label for="email"> Email: </label>
	<input type="email" name="email" id="email">
	<label form="confirm"> Confirm Email: </label>
	<input type="email" name="confirm" id="confirm">
	<br>
	<input type="submit" name="submit" value="Submit" id="subButton" onsubmit="return submitButton()">
</fieldset>
</form>
